<div class="container">
  <hr>
  <a class="btn btn-primary" href="/">Home</a>
  <a id="btnNewPlace" class="btn btn-primary" style="float: right;" href="/Bookmarks/cms">Add New Place</a>
    <div class="col-md-12 blog-container">
      <ul>
        {{#each bookmarks}}
          <div class="card mt-4">
            <div class="card-header text-center" style="font-size: 16px;font-weight:bold;background:lightgrey;">
              <button class="delete btn btn-danger deleteBookmark" data-id="{{this.id}}">X</button>
              <button class="edit btn btn-success editBookmark" data-id="{{this.id}}" data-city="{{this.City}}" data-address="{{this.Address}}" data-notes="{{this.Notes}}">EDIT</button>
              {{ City }}
            </div>
            <div class="card-body">
              <p class="card-text"><strong>Address:</strong>{{Address}}</p>
              <p class="card-text"><strong>Note:</strong>{{Notes}}</p>
            </div>
          </div>
        {{/each}}
      </ul>
    </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/bookmark.js"></script>